{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} Climate Air Monitor{% endblock %}</h2>
  
	<p>
  A Climate Change Monitor to measure effect of air pollution data on climate change and increase awareness of environmental pollution globally.
    </p>
	
	  <p> 
   This project uses the OpenWeather API to measure the current air pollution data based on the user's specified location by state and informs or recommmends appropriate action based on the retrieved Air Quality Index 
	</p>
	
	  <p> 
  GADS Individual Project by Damilola Olaide Banjoko
	</p>
{% endblock %}